.recommendation_background{
    overflow: visible;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../../assets/img/N5.jpg");
    width: 100%;
    height: auto;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    
} 
h3{

    color: black;
}
